<ion-view view-title="behavior" id="behavior_page" ng-init='loadActions()'>

    <ion-nav-buttons class="has-header" side="right">
        <button class="button button-icon icon No Icon" ng-click="submit()" ng-if="checked==limit"> Submit</button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">

      <!--<div class="row header">-->
        <!--<div class="col col-80"></div>-->
        <!--<div class="col">Pick 3</div> &lt;!&ndash; this isn't necessary, can be taken out &ndash;&gt;-->
      <!--</div>-->

    <ol type="1"  ng-repeat="point in action_points">
        <li class="row">
          <ion-checkbox class="item-checkbox-right col" ng-model="point.selected"
                        ng-disabled="checked==limit && !point.selected" ng-change="onClick(point)"
                        ng-model-options="{allowInvalid: true}"
                        ng-style="{ color: checked==limit && !point.selected ? 'grey' : 'black' }">
              {{ $index + 1 }}. {{ point.point }}</ion-checkbox>
        </li>
      </ol>
      


    </ion-content>
</ion-view>