<ion-view title="behavior" id="behavior_page">

    <ion-nav-buttons class="has-header" side="right">
        <button ui-sref="dashboard" class="button button-icon icon No Icon"> Submit</button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">

      <div class="row header">
        <div class="col col-80"></div>
        <div class="col">Answer</div> <!-- this isn't necessary, can be taken out -->
      </div>

      <ol type="1">
        <li class="row">
          <ion-checkbox class="item-checkbox-right col" ng-model="isChecked1">Question</ion-checkbox>
        </li>

        <li class="row">
          <ion-checkbox class="item-checkbox-right col" ng-model="isChecked2">Question</ion-checkbox>
        </li>

        <li class="row">
          <ion-checkbox class="item-checkbox-right col" ng-model="isChecked3">Question</ion-checkbox>
        </li>

        <li class="row">
          <ion-checkbox class="item-checkbox-right col" ng-model="isChecked4">Question</ion-checkbox>
        </li>
      </ol>

    

<!--     <div class="row">
        <ion-checkbox class="item-checkbox-right col" ng-model="isChecked1">Question</ion-checkbox>
    </div>

    <div class="row">
        <ion-checkbox class="item-checkbox-right col" ng-model="isChecked2">Question</ion-checkbox>
    </div>

    <div class="row">
        <ion-checkbox class="item-checkbox-right col" ng-model="isChecked3">Question</ion-checkbox>
    </div>

    <div class="row">
        <ion-checkbox class="item-checkbox-right col" ng-model="isChecked4">Question</ion-checkbox>
    </div> -->



    </ion-content>
</ion-view>