<ion-view view-title="Change Password" id="change_password_page" cache-view="false">
  <ion-content padding="true" class="has-header" scroll="true">

    <form id="login-form4" class="list center-form" style="max-width: 500px; display: block; margin: 0 auto;">


    <!-- some error message to display when login fails -->
    <div class="error-box" id="login_error_message" style="visibility: hidden;">
      <p id="error-text"> Login Error </p>
    </div>


      <img src=img/logo2.png alt="can't display img" style="display:block; margin: auto;">

      <ion-list id="login-list5">

        <label class="item item-input top-input" id="login-input4">
          <span class="input-label">Email</span>
          <input type="text" autocorrect="off" autocapitalize="none" placeholder="" ng-model="$parent.username">
        </label>

        <label class="item item-input bottom-input" id="login-input5">
          <span class="input-label">Old Password</span>
          <input type="password" placeholder="" ng-model="$parent.oldPassword">
        </label>

        <label class="item item-input bottom-input" id="newPassword_input">
          <span class="input-label">New Password</span>
          <input type="password" placeholder="" ng-model="$parent.newPassword">
        </label>

      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a id="change_password" class="button button-positive  button-block">Change Password</a>

    </form>
  </ion-content>
  <style type="text/css">
  @media (min-width: 700px) {
    .center-form{
      position: absolute;
      top: 45vh;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .center-form{
    label{
        background-color: rgba(255,255,255,0.7);
        border-color: rgba(255,255,255,0);
        
        &.top-input{
            border-radius: 4px 4px 0px 0px;   
        }
        
        &.bottom-input{
            border-radius: 0px 0px 4px 4px;
        }
    }
    
    .button-positive{
        opacity:0.9;
    }
}
.center-form img{
  position: relative;
  left:50%;
  transform: translateX(-50%);
}
.error-box{
    padding:10px;
    border:1px solid darken($assertive, 10%);
    background-color: #FFCCCC;
    border-radius:4px;
    margin-bottom:10px;
    display: block;
    margin: 0 auto; 
    p{
        color:white;
        margin:0px;
    }
}
</style>
</ion-view>