<ion-view view-title="Knowledge Test" id="check_knowledge_test_page">

    <ion-nav-buttons class="has-header" side="right">
        <button ng-click="submit()" class="button button-icon icon" ng-if="passed">Submit</button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header" scroll="false">

    <div class="center">
        <h1>{{ score_message }}</h1>
        <h1>{{ extra_message }}</h1>
    </div>
    </ion-content>
<style type="text/css">
    .center{ 
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

</style>
</ion-view>
