<ion-view title="Check" id="knowledge_test_page">

    <ion-nav-buttons class="has-header" side="right">
        <button ui-sref="dashboard" class="button button-icon icon No Icon">Submit</button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">


    <div style="display: block; margin: 0 auto;">
        <p>Are you sure your want to continue</p>
        <p>Mark: 10/20</p>
        <p>Go back to redo, or submit</p>
    </div>
        


    </ion-content>
</ion-view>


<!-- 
<style type="text/css">
  .center{
    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
    label{
        background-color: rgba(255,255,255,0.7);
        border-color: rgba(255,255,255,0);
        
        &.top-input{
            border-radius: 4px 4px 0px 0px;   
        }
        
        &.bottom-input{
            border-radius: 0px 0px 4px 4px;
        }
    }
    
    .button-positive{
        opacity:0.9;
    }
}

</style> -->