<ion-view title="Dashboard" hide-back-button="true" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="dashboard-list9">

      <ion-item class="item-thumbnail-left item-icon-right  course" id="dashboard-list-item45" ui-sref="courseOne">
        <img src="img/nature-02.jpg">
        <div style="float: left;"> 
          <h2 >Self Motivation</h2>
          <p style="white-space:normal;">Graig Wenzel</p>
        </div>

        <div style="float: right; font-size: 9px;">
          <div >Line 1</div>
          <div >Line 2</div>
          <div >Line 3</div>
          <div>Line 4</div>
        </div>


        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-thumbnail-left item-icon-right  course" id="dashboard-list-item46" ui-sref="courseOne">
        <img src="img/nature-forest-industry-rails.jpg">
        <div style="float: left;">
          <h2>Effective Communication</h2>
          <p>Josefina Dreiling</p>
        </div>

        <div style="float: right; font-size: 9px;">
          <div >Line 1</div>
          <div >Line 2</div>
          <div >Line 3</div>
          <div>Line 4</div>
        </div>

        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>