<ion-view view-title="Diagnosis" id="diagnosis_test_page" ng-init="loadDiagnosis()" cache-view="false">
    <!-- <ion-content padding="true" class="has-header"></ion-content> -->
    <ion-nav-buttons class="has-header" side="right">
        <button ng-click="submit()" class="button button-icon icon No Icon" ng-if="count==limit"> Submit</button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">


    <ion-list ng-repeat="point in diagnosis_points">
        <label>
            <span class="input-label">{{ point.display_id }}. {{ point.point }}</span>
        </label>

        <div class="row">
            <label class="col col-30">
                <span class="input-label">自我诊断</span>
            </label>
            <ion-list ng-repeat="option in options" class="large-screens">
                <ion-radio name="{{ point.self_id }}" ng-click="click(point.id, point.self_id, option)">{{ option }}</ion-radio>
            </ion-list>
        </div>
        <!-- for small screens -->
        <ion-list ng-repeat="option in options" class="small-screens">
                <ion-radio name="{{ point.self_id }}" ng-click="click(point.id, point.self_id, option)">{{ option }}</ion-radio>
        </ion-list>

    </ion-content>
<style type="text/css">
.small-screens{
    display: none;
}
@media only screen and (max-width: 700px){
    .small-screens{
        display: block;
    }
    .large-screens{
        display: none;
    }
}
</style>
</ion-view>