<ion-view title="diagnosis" id="knowledge_test_page" ng-init="loadDiagnosis()">
    <!-- <ion-content padding="true" class="has-header"></ion-content> -->
    <ion-nav-buttons class="has-header" side="right">
        <button ui-sref="dashboard" class="button button-icon icon No Icon"> Submit</button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">


    <ion-list ng-repeat="point in diagnosis_points"> <!-- add the ng-repeat here -->
        <label>
            <span class="input-label">{{ point.display_id }}. {{ point.point }}</span>
        </label>

        <div class="row">
            <label class="col col-30">
                <span class="input-label">Me</span>
            </label>
            <ion-list ng-repeat="option in options">
                <ion-radio name="{{ point.self_id }}">{{ option }}</ion-radio>
            </ion-list>
        </div>

        <div class="row">
            <label class="col col-30">
                <span class="input-label">My Supervisor</span>
            </label>
            <ion-list ng-repeat="option in options">
                <ion-radio name="{{ point.other_id }}">{{ option }}</ion-radio>
            </ion-list>
        </div>
    </ion-list>

    </ion-content>

</ion-view>