<ion-view title="Feedback" id="feedback_page" animation="slide-left-right">

  <ion-nav-buttons class="has-header" side="right">
    <button ng-click="submit()" class="button button-icon icon No Icon" ng-if="counter==limit">Submit</button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">

    <!-- top labels of chart -->
    <div class="row header">
      <label class="col">
        <span class="label">培训内容综合评价</span>
      </label>
    </div>

    <ion-list ng-repeat="q in a_questions">
      <!-- all other rows -->
      <div class="row">
        <label class="col col-50">
          <span class="label">{{ q.question }}</span>
        </label>
        <ion-list ng-repeat="key in keys">
          <ion-radio class="col-15" name="{{ q.id }}" ng-click="click(q, key)">{{ key }}</ion-radio>
        </ion-list>
      </div>
    </ion-list>

    <!-- top labels of chart -->
    <div class="row header">
      <label class="col col-50">
        <span class="label">培训讲师综合评价</span>
      </label>
    </div>

    <ion-list ng-repeat="q in b_questions">
      <!-- all other rows -->
      <div class="row">
        <label class="col col-50">
          <span class="label">{{ q.question }}</span>
        </label>

        <ion-list ng-repeat="key in keys">
          <ion-radio class="col-15" name="{{ q.id }}" ng-click="click(q, key)">{{ key }}</ion-radio>
        </ion-list>
      </div>
    </ion-list>

    <!-- top labels of chart -->
    <div class="row header">
      <label class="col col-50">
        <span class="label">培训场地和组织综合评价</span>
      </label>
    </div>

    <ion-list ng-repeat="q in c_questions">
      <!-- all other rows -->
      <div class="row">
        <label class=" col-50">
          <span class="label">{{ q.question }}</span>
        </label>

        <ion-list ng-repeat="key in keys">
          <ion-radio class="col-15" name="{{ q.id }}" ng-click="click(q, key)">{{ key }}</ion-radio>
        </ion-list>
      </div>
    </ion-list>

    <!-- top labels of chart -->
    <div class="row header">
      <label class="col col-50">
        <span class="label">总体评价</span>
      </label>
    </div>


    <div class="row">
      <label class="col col-50">
        <span class="label">{{ d_question.question }}</span>
      </label>

      <ion-list ng-repeat="key in keys">
        <ion-radio class="col-15" name="{{ d_question.id }}" ng-click="click(d_question, key)">{{ key }}</ion-radio>
      </ion-list>
    </div>
    <!-- text input -->
    <form id="quizPage-form12" class="list">
      <label class="item item-input" id="login-input5">
        <span class="label">其他反馈意见：</span>
        <input type="text" placeholder="" ng-model="$parent.feedback_page_text_area">
      </label>
    </form>
    


  </ion-content>

  <style type="text/css">
    .header{
      background-color:lightgrey;
      height: 40px;
    }
  </style>
</ion-view>
