<ion-view title="feedback" id="feedback_page">
  <!-- <ion-content padding="true" class="has-header"></ion-content> -->

    <ion-nav-buttons class="has-header" side="right">
        <button ui-sref="dashboard" class="button button-icon icon No Icon">Submit</button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">

        <!-- top labels of chart -->
        <div class="row header">
          <label class="col col-50">
              <span class="input-label">Category</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 1</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 2</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 3</span>
          </label>
        </div>


        <!-- all other rows -->
        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q1"></ion-radio>
          <ion-radio class="col col-15" name="q1"></ion-radio>
          <ion-radio class="col col-15" name="q1"></ion-radio>
        </div>

        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q2"></ion-radio>
          <ion-radio class="col col-15" name="q2"></ion-radio>
          <ion-radio class="col col-15" name="q2"></ion-radio>
        </div>

        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q3"></ion-radio>
          <ion-radio class="col col-15" name="q3"></ion-radio>
          <ion-radio class="col col-15" name="q3"></ion-radio>
        </div>

        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q4"></ion-radio>
          <ion-radio class="col col-15" name="q4"></ion-radio>
          <ion-radio class="col col-15" name="q4"></ion-radio>
        </div>
      

      <!-- top labels of chart -->
        <div class="row header">
          <label class="col col-50">
              <span class="input-label">Category</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 1</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 2</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 3</span>
          </label>
        </div>


        <!-- all other rows -->
        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q5"></ion-radio>
          <ion-radio class="col col-15" name="q5"></ion-radio>
          <ion-radio class="col col-15" name="q5"></ion-radio>
        </div>

        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q6"></ion-radio>
          <ion-radio class="col col-15" name="q6"></ion-radio>
          <ion-radio class="col col-15" name="q6"></ion-radio>
        </div>

        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q7"></ion-radio>
          <ion-radio class="col col-15" name="q7"></ion-radio>
          <ion-radio class="col col-15" name="q7"></ion-radio>
        </div>

        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q8"></ion-radio>
          <ion-radio class="col col-15" name="q8"></ion-radio>
          <ion-radio class="col col-15" name="q8"></ion-radio>
        </div>

        <!-- top labels of chart -->
        <div class="row header">
          <label class="col col-50">
              <span class="input-label">Category</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 1</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 2</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 3</span>
          </label>
        </div>


        <!-- all other rows -->
        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q9"></ion-radio>
          <ion-radio class="col col-15" name="q9"></ion-radio>
          <ion-radio class="col col-15" name="q9"></ion-radio>
        </div>

        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q10"></ion-radio>
          <ion-radio class="col col-15" name="q10"></ion-radio>
          <ion-radio class="col col-15" name="q10"></ion-radio>
        </div>

        <!-- top labels of chart -->
        <div class="row header">
          <label class="col col-50">
              <span class="input-label">Category</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 1</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 2</span>
          </label>
          <label class="col col-15">
              <span class="input-label">Answer 3</span>
          </label>
        </div>


        <!-- all other rows -->
        <div class="row">
          <label class="col col-50">
              <span class="input-label">Question</span>
          </label>

          <ion-radio class="col col-15" name="q11"></ion-radio>
          <ion-radio class="col col-15" name="q11"></ion-radio>
          <ion-radio class="col col-15" name="q11"></ion-radio>
        </div>





        <!-- text input -->
        <form id="quizPage-form12" class="list">
        <label class="item item-input" id="login-input5">
          <span class="input-label">Some text</span>
          <input type="text" placeholder="" ng-model="feedback_page_text_area">
        </label>
      </form>
    </ion-content>


</ion-view>

<style type="text/css">
    .header .col {
        background-color:lightgrey;
    }
</style>