<ion-view title="Knowledge Test" id="knowledge_test_page" cache-view="false" ng-init="loadQuestions()">
    <!-- <ion-content padding="true" class="has-header"></ion-content> -->

    <ion-nav-buttons class="has-header" side="right">
        <button ng-click="submit()" class="button button-icon icon No Icon" ng-if="count==limit"> Submit</button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">

        <ion-list ng-repeat="question in questions">
            <div>
                <label class="questions">
                    <div style="height: 15px;"></div>
                    <span class="label" style="margin-left: 10px;">{{ question.display_id }}. {{ question.question }}</span>
                    <div style="height: 15px;"></div>
                </label>
                <ion-list ng-repeat="choice in question.answer_keys">
                    <ion-radio name="{{ question.id }}" ng-click="click(question.id, choice)">{{ $index + 1 }}. {{ choice }}</ion-radio>
                </ion-list>
            </div>
        </ion-list>          

    </ion-content>

    <style type="text/css">
        .questions {
            font-weight: 700;
            background-color:lightgrey;
        }

    </style>

</ion-view>