<ion-view title="knowledge_test" id="knowledge_test_page" cache-view="false" ng-init="loadQuestions()">
    <!-- <ion-content padding="true" class="has-header"></ion-content> -->

    <ion-nav-buttons class="has-header" side="right">
        <button ui-sref="knowledge_test_page" class="button button-icon icon No Icon"> Submit</button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">

    <ion-list ng-repeat="question in questions"> <!-- ng-repeat here -->
        <div>
            <label>
                <span class="input-label">{{ question.question }}</span>
            </label>
            <ion-list ng-repeat="choice in question.answer_keys">
                <ion-radio name="{{ question.id }}">{{ question.id }}</ion-radio>
                <!--ng-model="choice0" ng-value="1"-->
            </ion-list>
        </div>
    </ion-list>


    </ion-content>
</ion-view>