<ion-view title="Login" id="page4" cache-view="false">
  <ion-content padding="true" class="has-header" ng-controller="loginCtrl">

    

    <form id="login-form4" class="list" style="max-width: 500px; display: block; margin: 0 auto;">

    <img src=img/logo.png alt="can't display img" style="display:block; margin: 0 auto;">

      <ion-list id="login-list5">
        <label class="item item-input" id="login-input4">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="$parent.username">
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="$parent.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a id="login-button2" class="button button-stable  button-block" ng-click="login()">Log in</a>
      <a ui-sref="signup" id="login-button3" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
