<ion-view view-title="Quiz page" id="page8">
  <ion-content padding="true" class="has-header">
    <h3 id="quizPage-heading3" style="color:#000000;">Quiz #1</h3>
    <div id="quizPage-container1" class="question">
      <h4 id="quizPage-heading4" style="color:#000000;">1. If 5x plus 32 equals 4 minus 2x what is the value of x ?</h4>

      <form id="quizPage-form6" class="list">
        <ion-radio id="quizPage-radio2" name="q1" class="question-answer">A. -4</ion-radio>
        <ion-radio id="quizPage-radio3" name="q1" class="question-answer">B. -3</ion-radio>
        <ion-radio id="quizPage-radio4" name="q1" class="question-answer">C. 4</ion-radio>
      </form>
      
    </div>
    <div id="quizPage-container2" class="question">
      <h4 id="quizPage-heading5" style="color:#000000;">1. If 5x plus 32 equals 4 minus 2x what is the value of x ?</h4>
      <form id="quizPage-form7" class="list">
        <ion-radio id="quizPage-radio2" name="q1" class="question-answer">A. -4</ion-radio>
        <ion-radio id="quizPage-radio3" name="q1" class="question-answer">B. -3</ion-radio>
        <ion-radio id="quizPage-radio4" name="q1" class="question-answer">C. 4</ion-radio>
      </form>
    </div>
    <div id="quizPage-container4" class="question">
      <h4 id="quizPage-heading7" style="color:#000000;">2. Check all colors that are referred to in RGB</h4>
      <form id="quizPage-form9" class="list">
        <ion-checkbox id="quizPage-checkbox3" name="q2" class="question-answer">A. Red</ion-checkbox>
        <ion-checkbox id="quizPage-checkbox2" name="q2" class="question-answer">B. Blue</ion-checkbox>
        <ion-checkbox id="quizPage-checkbox1" name="q2" class="question-answer">C. Green</ion-checkbox>
      </form>
    </div>
    <div id="quizPage-container5" class="question">
      <h4 id="quizPage-heading8" style="color:#000000;">3. Write some code</h4>
      <form id="quizPage-form12" class="list">
        <label class="item item-input" id="quizPage-input6">
          <input type="text" placeholder="">
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>