<ion-view view-title="注册" hide-back-button="true" id="page2">
  <ion-content padding="true" class="has-header" scroll="true">
    <form id="signup-form3" class="list center-form" style="max-width: 500px; display: block; margin: 0 auto;">


    <!-- some error message to display when signup fails -->
    <div class="error-box" id="signup_error_box" style="visibility: hidden;">
      <p id="error-text"> Signup Error </p> <!-- should be replaced with proper error message -->
    </div>


    <img src=img/logo2.png alt="can't display img" style="display:block; margin: 0 auto;">

      <ion-list id="signup-list4">

        <label class="item item-input top-input" id="signup-input1">
          <span class="input-label">First Name</span>
          <input type="text" id="firstNameField" placeholder="" ng-model="$parent.reg_firstname">
        </label>
        <label class="item item-input" id="signup-input2">
          <span class="input-label">Last Name</span>
          <input type="text" id="lastNameField" placeholder="" ng-model="$parent.reg_lastname">
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Email</span>
          <input type="text" autocorrect="off" autocapitalize="none" id="usernameField" placeholder="" ng-model="$parent.reg_username">
        </label>
        <label class="item item-input bottom-input" id="signup-input4">
          <span class="input-label">Password</span>
          <input type="password" id="passwordField" placeholder="" ng-model="$parent.reg_password">
        </label>
      </ion-list>

      <label class="item item-input item-select">
          <div class="input-label">BU</div>
          <select ng-model="selectedGroup" ng-change="showSelectValue(selectedGroup)" dir="rtl">
            <option>Cardio</option>
            <option>ENDO</option>
            <option>PION</option>
            <option>CRM</option>
            <option>EP</option>
            <option>Urology</option>
            <option>Structural Heart</option>
            <option>HK&amp;TW</option>
            <option>Emerging Marketing</option>
            <option>Others</option>
          </select>
        </label>

      <a ng-click="signup()" id="signup-button1" class="button button-stable  button-block">注册</a>
      <a ui-sref="login" id="signup-button4" class="button button-positive  button-block button-clear">已有账户?</a>

    </form>
  </ion-content>
<style type="text/css">
@media (min-width: 700px) {
  .center-form{
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

  .center-form{
 
    label{
        background-color: rgba(255,255,255,0.7);
        border-color: rgba(255,255,255,0);
        
        &.top-input{
            border-radius: 4px 4px 0px 0px;   
        }
        
        &.bottom-input{
            border-radius: 0px 0px 4px 4px;
        }
    }
    
    .button-positive{
        opacity:0.9;
    }
}

.center-form img{
  position: relative;
  left:50%;
  transform: translateX(-50%);
}


.error-box{
    padding:10px;
    border:1px solid darken($assertive, 10%);
    background-color: #FFCCCC;
    border-radius:4px;
    margin-bottom:10px;
    display: block;
    margin: 0 auto; 
    p{
        color:white;
        margin:0px;
    }
}
</style>
</ion-view>
