<!doctype html>
<html>
    {% load staticfiles %}
    <head>
        <title>课程面板</title>
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        
        <link rel="stylesheet" href="{% static 'djgap/css/jquery.timepicker.min.css' %}">
<!--        <link rel="stylesheet" href="../static/djgap/css/jquery.timepicker.min.css">-->

        <link rel="stylesheet" type="text/css" href="{% static 'djgap/css/dash.css' %}">
<!--        <link rel="stylesheet" type="text/css" href="../static/djgap/css/dash.css">-->
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="{% static 'djgap/js/dash.js' %}"></script>
<!--        <script src="../static/djgap/js/dash.js"></script>-->
        
        <script
			  src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"
			  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			  crossorigin="anonymous"></script>
        
        <script src="{% static 'djgap/js/jquery.timepicker.min.js' %}"></script>
<!--        <script src="../static/djgap/js/jquery.timepicker.min.js"></script>-->
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    
    <body>
        <div id="content">
                        
            
            <div id="navLeft">
                <button id="refresh"><span>刷新</span></button>
                <br>
                <button id="1" class="menuItem menuItemActive"><span>编辑课程</span></button>
                <button id="2" class="menuItem"><span>编辑Action Plan</span></button>
                <button id="3" class="menuItem"><span>编辑Knowledge Test</span></button>
                <button id="4" class="menuItem"><span>注册学生</span></button>
                <button id="5" class="menuItem"><span>数据统计</span></button>
                <button id="6" class="menuItem"><span>DROP DOWN</span></button>
                <button id="7" class="menuItem"><span>DATE PICKER</span></button>
            </div>
            <div id="navTop">
                <div class="left">
                    <h1 id="title" class="course"><input  type="text" class="inputField courseCode inpTitle" value="" readonly></h1>
                </div>
                <div class="right">
                    <div id="logout">
                        <img id="logoutBtn" src="https://cdn2.iconfinder.com/data/icons/picons-essentials/57/logout-512.png" width="50px" height="50px">
                    </div>
                </div>
                
            </div>
            <div id="info">
	            <div id="saveNoti"><span></span></div>
                <div id="errorItem"><span></span></div>
                <div id="data1" class="data active">
                    <div id="courseInfo" class="card">
                        <h4 class="field"><span class="cLabel">课程名称：</span><input  type="text" class="inputField courseName" value=""></h4>
                        <h4 class="field"><span class="cLabel">开始时间：（改变时间将自动开始新课程，当前课程里的学生无法在app中看见此课程，但所有的数据都会保留。建议只在课程结束的情况下更改时间。Knowledge Test和Diagnosis的开放时间在此时间的30天和90天之后。）</span>
                            <input  type="text" id="courseStartTime" class="inputField startTime" value="">
                        </h4>
                        <h4 class="field"><span class="cLabel">教师：（建议设置为你的Email。设置为他人的Email时，该课程将自动移交给对方，无法再于此处更改。）</span><input  type="text" class="inputField courseIns" value=""></h4>
                        <h4 class="field" for="checkbox"><span class="cLabel">结束课程：（选择此处以结束课程，当前课程里的学生无法在app中看见此课程，但所有的数据都会保留。）</span><input id='courseDone' class="checkBox" type="checkbox"></h4>
                    </div>
                    <button id="courseSave" class="saveBtn">保存</button>
                </div>
                <div id="data2" class="data">
                    <div class="card">
                        <h4 class="field">
                            <span class="cLabel">ACTION PLAN:</span>
                        </h4><br>
                        <ol>
                            <li><input id="act1" type="text" class="inputField" value=""></li>
                            <li><input id="act2" type="text" class="inputField" value=""></li>
                            <li><input id="act3" type="text" class="inputField" value=""></li>
                            <li><input id="act4" type="text" class="inputField" value=""></li>
                            <li><input id="act5" type="text" class="inputField" value=""></li>
                            <li><input id="act6" type="text" class="inputField" value=""></li>
                            <li><input id="act7" type="text" class="inputField" value=""></li>
                            <li><input id="act8" type="text" class="inputField" value=""></li>
                            <li><input id="act9" type="text" class="inputField" value=""></li>
                            <li><input id="act10" type="text" class="inputField" value=""></li>
                        </ol>
                    </div>
                    <button id="planSave" class="saveBtn">保存</button>
                </div>
                <div id="data3" class="data">
                    <div class="card">
                        <h4 class="field"><span class="cLabel">KNOWLEDGE TEST:</span>
                        </h4><br>
                        <ol id="questionList">
                            <li id="q1">
                                <input  type="text" class="inputField question" placeholder="问题1">
                                <span class="cLabel">分数:</span><input  type="text" class="inputField score" value="">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" placeholder="选项1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" placeholder="选项2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" placeholder="选项3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" placeholder="选项4"></li>
                                </ol>
                            </li><br>
                            <li id="q2">
                                <input  type="text" class="inputField question" placeholder="问题2">
                                <span class="cLabel">分数:</span><input  type="text" class="inputField score" value="">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" placeholder="选项1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" placeholder="选项2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" placeholder="选项3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" placeholder="选项4"></li>
                                </ol>
                            </li><br>
                            <li id="q3">
                                <input  type="text" class="inputField question" placeholder="问题3">
                                <span class="cLabel">分数:</span><input  type="text" class="inputField score" value="">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" placeholder="选项1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" placeholder="选项2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" placeholder="选项3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" placeholder="选项4"></li>
                                </ol>
                            </li><br>
                            <li id="q4">
                                <input  type="text" class="inputField question" placeholder="问题4">
                                <span class="cLabel">分数:</span><input  type="text" class="inputField score" value="">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" placeholder="选项1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" placeholder="选项2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" placeholder="选项3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" placeholder="选项4"></li>
                                </ol>
                            </li><br>
                            <li id="q5">
                                <input  type="text" class="inputField question" placeholder="问题5">
                                <span class="cLabel">分数:</span><input  type="text" class="inputField score" value="">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" placeholder="选项1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" placeholder="选项2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" placeholder="选项3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" placeholder="选项4"></li>
                                </ol>
                            </li><br>
                            <li id="q6">
                                <input  type="text" class="inputField question" placeholder="问题6">
                                <span class="cLabel">分数:</span><input  type="text" class="inputField score" value="">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" placeholder="选项1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" placeholder="选项2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" placeholder="选项3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" placeholder="选项4"></li>
                                </ol>
                            </li><br>
                            <li id="q7">
                                <input  type="text" class="inputField question" placeholder="问题7">
                                <span class="cLabel">分数:</span><input  type="text" class="inputField score" value="">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" placeholder="选项1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" placeholder="选项2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" placeholder="选项3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" placeholder="选项4"></li>
                                </ol>
                            </li><br>
                            <li id="q8">
                                <input  type="text" class="inputField question" placeholder="问题8">
                                <span class="cLabel">分数:</span><input  type="text" class="inputField score" value="">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" placeholder="选项1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" placeholder="选项2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" placeholder="选项3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" placeholder="选项4"></li>
                                </ol>
                            </li><br>
                            <li id="q9">
                                <input  type="text" class="inputField question" placeholder="问题9">
                                <span class="cLabel">分数:</span><input  type="text" class="inputField score" value="">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" placeholder="选项1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" placeholder="选项2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" placeholder="选项3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" placeholder="选项4"></li>
                                </ol>
                            </li><br>
                            <li id="q10">
                                <input  type="text" class="inputField question" placeholder="问题10">
                                <span class="cLabel">分数:</span><input  type="text" class="inputField score" value="">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" placeholder="选项1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" placeholder="选项2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" placeholder="选项3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" placeholder="选项4"></li>
                                </ol>
                            </li>
                            
                        </ol>
                    </div>
                    <button id="testUpload" class="saveBtn">保存</button>
                </div>
                <div id="data4" class="data">
                    <div class="card">
                        <h4 class="field"><span class="cLabel">上传学生名单：（将所有学生的email输入文档，每行一个。建议使用一个txt文件作为名单，增添学生时，在文档中加入该学生的email，重新上传文件即可。）</span><input type="file" id='studentFile' accept="*/*"/></h4>
                        <h4 class="field"><span class="cLabel">当前学生:</span></h4>

                        <table class="studentTable" id="studentList">
                        </table>
                    </div>
                    <button id="enroll" class="saveBtn">注册学生</button>
                </div>
                <div id="data5" class="data">
                    <div class="card">
                        <h4 class="field">&nbsp;&nbsp;&nbsp;数据范围：（输入开课时间的范围。比如：计算三月课程里的所有数据，输入3月1日到3月31日；计算本年度课程的所有数据，输入1月1日到当前日期。）</h4>
                        <h4 class="field"><span class="cLabel">最早开课时间</span><input type="text" id="dataStartDate" class="inputField startDate" value=""><input  type="text" id="dataStartTime" class="inputField startTime" value=""> </h4>
                        <h4 class="field"><span class="cLabel">最晚开课时间</span><input type="text" id="dataEndDate" class="inputField startDate" value=""><input  type="text" id="dataEndTime" class="inputField startTime" value=""> </h4>
                    </div>
                    <button id="calculateData" class="saveBtn">计算数据</button>
                    <div class="card">
                        <table class="dataTable" id="dataTable">
                          <tr id="dataRowTitle">
                            <td class="cell header"></td>
                          </tr>
                          <tr id="dataRow0">
                            <td class="cell header">Knowledge Test 平均初次得分</td>
                          </tr>
                          <tr id="dataRow1">
                            <td class="cell header">Knowledge Test 平均完成天数</td>
                          </tr>
                          <tr id="dataRow2">
                            <td class="cell header">Knowledge Test 平均完成秒数</td>
                          </tr>
                          <tr id="dataRow3">
                            <td class="cell header">Diagnosis 自我诊断明显进步比例（%）</td>
                          </tr>
                          <tr id="dataRow4">
                            <td class="cell header">Diagnosis 共同诊断明显进步比例（%）</td>
                          </tr>
                          <tr id="dataRow5">
                            <td class="cell header">Diagnosis 平均完成天数</td>
                          </tr>
                        </table>
                    </div>
                </div>
                <div id="data6" class="data">
                    <div class="card">
                        <select class="inputField startDate" name = "startDate" onchange="sDate(this);"> 
                            <option value="NULL" selected = "selected">Select a Start Date</option>
                        </select>
                    </div>
                    <button id="dropDownSave" class="saveBtn">注册学生</button>
                </div>

                <div id="data7" class="data">
                    <div class="card">
                        <input  type="text" id="courseStartDate" class="inputField startDate" value="">
                    </div>
                    <button id="courseDateSave" class="saveBtn">注册学生</button>
                </div>
            </div>
        </div>
    </body>
</html>