<!doctype html>
<html>
    {% load staticfiles %}
    <head>
        <title>DashBoard</title>
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
        
<!--        <link rel="stylesheet" type="text/css" href="../../static/djgap/css/dash.css">-->
        <link rel="stylesheet" type="text/css" href="{% static 'djgap/css/dash.css' %}">
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
<!--        <script src="../../static/djgap/js/dash.js"></script>-->
        <script src="{% static 'djgap/js/dash.js' %}"></script>
        <script
			  src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"
			  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			  crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    
    <body>
        <div id="content">
                        
            <div id="navTop">
                <div class="left">
                    <div class="logo">
                        <span></span>
                    </div>
                    <h1 id="title" class="course"><input  type="text" class="inputField courseCode inpTitle" value="" readonly></h1>
                </div>
                <div class="right">
                    <div id="logout">
                        <img id="logoutBtn" src="https://cdn2.iconfinder.com/data/icons/picons-essentials/57/logout-512.png" width="50px" height="50px">
                    </div>
                    <h3 id="name"></h3>
                    
                </div>
                
            </div>
            <div id="navLeft">
                <button id="refresh"><span>REFRESH</span></button>
                <br>
                <button id="1" class="menuItem menuItemActive"><span>EDIT COURSE</span></button> 
                <button id="2" class="menuItem"><span>EDIT ACTION PLAN</span></button> 
                <button id="3" class="menuItem"><span>EDIT KNOWLEDGE TEST</span></button> 
                <button id="4" class="menuItem"><span>ENROLL STUDENT</span></button> 
                <button id="5" class="menuItem"><span>CALCULATE DATA</span></button> 
            </div>
            <div id="info">
                <div id="errorItem"><span></span></div>
                <div id="data1" class="data active">
                    <div id="courseInfo" class="card">
                        <h2 class="field"><span class="cLabel">COURSE NAME:</span><input  type="text" class="inputField courseName" value=""></h2>
                        <h2 class="field"><span class="cLabel">START TIME:</span><input  type="text" class="inputField startTime timepicker-without-dropdown" value=""></h2>
                        <h2 class="field"><span class="cLabel">INSTRUCTOR:</span><input  type="text" class="inputField courseIns" value=""></h2>
                        <h2 class="field" for="checkbox"><span class="cLabel">DONE</span><input id='courseDone' class="checkBox" type="checkbox"></h2>
                    </div>
                    <button id="courseSave" class="saveBtn">SAVE</button>
                </div>
                <div id="data2" class="data">
                    <div class="card">
                        <h2 class="field">
                            <span class="cLabel">ACTION PLAN:</span>
                            <select class="dropdown">
                              <option value="tier1">Tier 1</option>
                              <option value="tier2">Tier 2</option>
                            </select>
                        </h2><br>
                        <ol>
                            <li><input id="act1" type="text" class="inputField" value=""></li>
                            <li><input id="act2" type="text" class="inputField" value=""></li>
                            <li><input id="act3" type="text" class="inputField" value=""></li>
                            <li><input id="act4" type="text" class="inputField" value=""></li>
                            <li><input id="act5" type="text" class="inputField" value=""></li>
                            <li><input id="act6" type="text" class="inputField" value=""></li>
                            <li><input id="act7" type="text" class="inputField" value=""></li>
                            <li><input id="act8" type="text" class="inputField" value=""></li>
                            <li><input id="act9" type="text" class="inputField" value=""></li>
                            <li><input id="act10" type="text" class="inputField" value=""></li>
                        </ol>
                    </div>
                    <button id="planSave" class="saveBtn">SAVE</button>
                </div>
                <div id="data3" class="data">
                    <div class="card">
                        <h2 class="field"><span class="cLabel">KNOWLEDGE TEST:</span></h2><br>
                        <ol id="questionList">
                            <li id="q1">
                                <input  type="text" class="inputField question" value="QUESTION1">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" value="OPTION1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" value="OPTION2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" value="OPTION3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" value="OPTION4"></li>
                                </ol>
                            </li><br>
                            <li id="q2">
                                <input  type="text" class="inputField question" value="QUESTION2">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" value="OPTION1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" value="OPTION2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" value="OPTION3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" value="OPTION4"></li>
                                </ol>
                            </li><br>
                            <li id="q3">
                                <input  type="text" class="inputField question" value="QUESTION3">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" value="OPTION1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" value="OPTION2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" value="OPTION3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" value="OPTION4"></li>
                                </ol>
                            </li><br>
                            <li id="q4">
                                <input  type="text" class="inputField question" value="QUESTION4">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" value="OPTION1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" value="OPTION2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" value="OPTION3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" value="OPTION4"></li>
                                </ol>
                            </li><br>
                            <li id="q5">
                                <input  type="text" class="inputField question" value="QUESTION5">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" value="OPTION1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" value="OPTION2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" value="OPTION3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" value="OPTION4"></li>
                                </ol>
                            </li><br>
                            <li id="q6">
                                <input  type="text" class="inputField question" value="QUESTION6">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" value="OPTION1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" value="OPTION2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" value="OPTION3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" value="OPTION4"></li>
                                </ol>
                            </li><br>
                            <li id="q7">
                                <input  type="text" class="inputField question" value="QUESTION7">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" value="OPTION1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" value="OPTION2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" value="OPTION3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" value="OPTION4"></li>
                                </ol>
                            </li><br>
                            <li id="q8">
                                <input  type="text" class="inputField question" value="QUESTION8">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" value="OPTION1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" value="OPTION2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" value="OPTION3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" value="OPTION4"></li>
                                </ol>
                            </li><br>
                            <li id="q9">
                                <input  type="text" class="inputField question" value="QUESTION9">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" value="OPTION1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" value="OPTION2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" value="OPTION3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" value="OPTION4"></li>
                                </ol>
                            </li><br>
                            <li id="q10">
                                <input  type="text" class="inputField question" value="QUESTION10">
                                <ol type="a" class="answers">
                                    <li><input class="checkBox option1" type="checkbox"><input  type="text" class="inputField answer opt1" value="OPTION1"></li>
                                    <li><input class="checkBox option2" type="checkbox"><input  type="text" class="inputField answer opt2" value="OPTION2"></li>
                                    <li><input class="checkBox option3" type="checkbox"><input  type="text" class="inputField answer opt3" value="OPTION3"></li>
                                    <li><input class="checkBox option4" type="checkbox"><input  type="text" class="inputField answer opt4" value="OPTION4"></li>
                                </ol>
                            </li>
                            
                        </ol>
                    </div>
                    <button id="testUpload" class="saveBtn">SAVE</button>
                </div>
                <div id="data4" class="data">
                    <div class="card">
                        <h2 class="field"><span class="cLabel">ADD ENROLL FILE:</span><input type="file" id='studentFile' accept="*/*" /></h2>
                    </div>
                    <button id="enroll" class="saveBtn">ENROLL</button>
                </div>
                <div id="data5" class="data">
                    <div class="card">
                        <h2 class="field"><span class="cLabel">CLASS AVERAGE:</span><input  type="text" class="inputField courseAvg ronly" value=""></h2>
                        <h2 class="field"><span class="cLabel">CLASS MEDIAN:</span><input  type="text" class="inputField classMedian ronly" value=""></h2>
                        <h2 class="field"><span class="cLabel"># STUDENTS:</span><input  type="text" class="inputField courseNumStuds ronly" value=""></h2>
                    </div>
                    <button id="calculateData" class="saveBtn">CALCULATE DATA</button>
                </div>
            </div>
            
        </div>
    </body>

</html>