<!doctype html>
<html>
    {% load staticfiles %}
    <head>
        <title>Datepicker</title>
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        
        <link rel="stylesheet" href="{% static 'djgap/css/jquery.timepicker.min.css' %}">
<!--        <link rel="stylesheet" href="../static/djgap/css/jquery.timepicker.min.css">-->
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="{% static 'djgap/js/datepick.js' %}"></script>
<!--        <script src="../static/djgap/js/datepick.js"></script>-->
        
        <script
			  src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"
			  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			  crossorigin="anonymous"></script>
        
        <script src="{% static 'djgap/js/jquery.timepicker.min.js' %}"></script>
<!--        <script src="../static/djgap/js/jquery.timepicker.min.js"></script>-->
    </head>
    
    <body>
        <div id="content">
            <input  type="text" id="courseStartDate" class="inputField startDate" value="">
            <button id="save">Pick</button>
        </div>
    </body>

</html>